footer {
    background-color: $colorB;
    @include flexH(space-evenly, center);
    a {
        color: $colorA;
        text-decoration: none;
        margin-left: 1%;
        &:hover {
            color: $colorC;
            font-weight: 600;
        }
    }
}