* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: map-get($map: $mapa , $key:dos);
    nav {
        margin: auto;
        @include flex(space-between);
        ul {
            list-style: none;
            @include flex(space-between);
            width: 75vw;
            margin-right: 5%;
            li {
                text-decoration: none;
                text-transform: uppercase;
                font-size: larger;
                a {
                    color: $colorA;
                    text-decoration: none;
                    font-weight: 600;
                    &:hover {
                        color: $colorC;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.navbar{
    padding: 0%;
}
