<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Contactate con nosotros, via email o via celular">
    <meta name="author" content="Alvaro Pereyra">
    <meta name="keywords" content="construccion, ingeniria civil, ingenieria, ingenieros mendoza, calculo, chacras park, construccion bodegas, diplomatic, torres agustinas, estructuración, hidraulica, puentes, inspección de obras">
    <title>GM Estudio - Contacto</title>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="shortcut icon" href="../img/GMEstudioFI.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="contenedor">
        <header id="header">
            <nav id="nav" class="botonera navbar navbar-expand-lg">
                <div>
                    <a href="../index.html"> <img src="../img/GMEstudio.png" alt="logo" width="200" height="200">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul>
                        <!--LISTA DESORDENADA-->
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../views/servicios.html">Servicios</a> </li>
                        <li><a href="../views/quienessomos.html">¿Quienes somos?</a> </li>
                        <li><a href="../views/trabajosrel.html">Trabajos Relevantes</a> </li>
                        <li><a href="../views/contacto.html">Contacto</a> </li>
                        <li><a href="../views/cotizador.html">Cotizador</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main id="main">
            <h1 class="text-center margp"><strong>CONTACTO</strong></h1>
            <section class="margp">
                <form id="contactanos">
                    <fieldset>
                        <legend class="marg">
                            <h2 class="text-center">COMUNICATE CON NOSOTROS</h2>
                        </legend>
                        <input type="text" id="NyA" name="nombre" placeholder="Nombre y apellido" class="pad anch">
                        <input type="email" id="mail" name="email" placeholder="Mail" class="pad anch">
                        <input type="number" id="Tel" name="telefono" placeholder="Telefono" class="pad anch">
                        <textarea name="mensaje" id="mensaje1" cols="30" rows="10" placeholder="Indique su mensaje" class="pad anch"></textarea>
                        <div class="flex3">
                            <button class="pad1" type="reset">Cancelar</button>
                            <!-- <input type="reset" value="Cancelar" class="pad1"> -->
                            <button class="pad1" type="submit">Enviar</button>
                            <!-- <input type="submit" value="Enviar" class="pad1"> -->
                        </div>
                        <div>
                            <p id="inner" class="white"></p>
                        </div>
                    </fieldset>
                </form>
            </section>
        </main>
        <footer id="footer" class="footp margp">
            <div>
                <div>
                    <a href="../views/contacto.html">
                        <h3 class="text-center">CONTACTO</h3>
                    </a>
                </div>
                <div class="flex">
                    <img src="../img/Email.png" alt="email" width="30" height="30">
                    <h4 class="footerimg">
                        <b>gmestudio@gmail.com</b>
                    </h4>
                </div>
                <div class="flex">
                    <img src="../img/Telefono.png" alt="telefono" width="30" height="30">
                    <h4 class="footerimg">
                        <b>2615337365</b>
                    </h4>
                </div>
            </div>
            <div>
                <div>
                    <h3 class="text-center">REDES SOCIALES</h3>
                </div>
                <div class="flexesp">
                    <a href="https://www.facebook.com/" target="_blank"><img src="../img/FB.png" alt="facebook"
                            width="30" height="30"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../img/IG.png" alt="instagram"
                            width="30" height="30"></a>
                    <a href="https://ar.linkedin.com/" target="_blank"><img src="../img/Linkedin.png" alt="linkedin"
                            width="30" height="30"></a>
                </div>
            </div>
            <div>
                <h3 class="text-center">UBICACIÓN</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.5374836930932!2d-68.84402435693073!3d-32.910394899500176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e096ee9d0a6e1%3A0xccb4c3b5bebb2882!2sLisandro%20de%20la%20Torre%20180%2C%20Godoy%20Cruz%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1653736060478!5m2!1ses-419!2sar"
                    width="170" height="170" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../js/formularioContacto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>