<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GM Estudio - ¿Quienes somos?</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/GMEstudioFI.png">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  -->
</head>
<body>
    <header> 
        
        <nav class="botonera">
            <div class="transition">
                <a href="../index.html"> <img src="../img/GMEstudio.png" alt="logo" width="200" height="200">
                </a>
            </div>
            <ul> <!--LISTA DESORDENADA-->
                <li><a href="../index.html">Inicio</a> </li>
                <li><a href="../views/servicios.html">Servicios</a> </li>
                <li><a href="../views/quienessomos.html">¿Quienes somos?</a> </li>
                <li><a href="../views/trabajosrel.html">Trabajos Relevantes</a> </li>
                <li><a href="../views/contacto.html">Contacto</a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <br>
        <h1 class="text-center">¿QUIENES SOMOS?</h1>
        <br>
        <figure class="imging">
            <img src="../img/ing.jpg" alt="ingenieros">
            <figcaption class="text-center"> <strong>Somos un grupo de profesionales de la ingeniería civil, especializados en el asesoramiento técnico a profesionales de la arquitectura y a empresas constructoras nacionales e internacionales en el rubro estructuras.
            Nuestra trayectoria en obras de diferente envergadura, tanto del ámbito privado como el público, nos da los conocimientos y la experiencia para brindar los mejores resultados.
            El cumplimiento en tiempo y forma de las necesidades de nuestros clientes es parte de su satisfacción y es por esto que enfocamos nuestra energía y recursos en lograrla. Para ello nos apoyamos en nuestra capacidad, experiencia y espíritu de superación, respaldados por nuestra sólida trayectoria.</strong>
            </figcaption>
        </figure>
        <br>
    </main>
    <footer class="footp">
        <div>
            <div>
                <a href="../views/contacto.html"><h3 class="text-center">CONTACTO</h3></a>
            </div>
            <div class="flex">
                <img src="../img/Email.png" alt="email" width="30" height="30">
                <h4>
                    <b>gmestudio@gmail.com</b>
                </h4>
            </div>
            <div class="flex">
                <img src="../img/Telefono.png" alt="telefono" width="30" height="30">
                <h4>
                    <b>2615337365</b>
                </h4>
            </div>
        </div>
        <div>
            <div>
                <h3 class="text-center">REDES SOCIALES</h3>
            </div>
            <div class="flexesp">
                <a href="https://www.facebook.com/" target="_blank"><img src="../img/FB.png" alt="facebook" width="30" height="30"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="../img/IG.png"alt="instagram" width="30" height="30"></a>
                <a href="https://ar.linkedin.com/" target="_blank"><img src="../img/Linkedin.png"alt="linkedin" width="30" height="30"></a>
            </div>
        </div>
        <div>
            <h3 class="text-center">UBICACIÓN</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.5374836930932!2d-68.84402435693073!3d-32.910394899500176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e096ee9d0a6e1%3A0xccb4c3b5bebb2882!2sLisandro%20de%20la%20Torre%20180%2C%20Godoy%20Cruz%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1653736060478!5m2!1ses-419!2sar" width="170" height="170" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </footer>
</body>
</html>